* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	background:rgb(245,245,245); 

}


/*Header and first Section*/

h1{ 
	text-align: center;
	font-size: 1.7em;
	text-transform: lowercase;
	letter-spacing: .2em;
	color: #C4CFD4;	
}
h1,h2 {
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 300;
}

.f_letter{
	display:inline-block;
	transform: rotate(-20deg);
	margin-right: 3px;
	padding-bottom: 10px;
}

.pen {
	height: 35px;
	width: 20px;
	transform: rotate(10deg);
}



h2 + p, footer{
	font-family: 'Nunito Sans', sans-serif;
	font-style: italic;
	color: #141414;
}

header {
	background: #141414;
	margin: -20px;
	padding: 10px;
}

section {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	margin-top: 20px;
	border-bottom: 1px solid #141414;
	width: 90%;
	margin:20px auto;
	text-align: center;
}

/*border#2*/
section:after {
	content:"";
	display: block;
	height: 2px;
	margin-bottom: 3px;
	width: 95%;
	border-bottom: 1.35px solid black;
}


/*Contact Info Section*/

form {
	width: 100%;
	margin: 30px auto;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 300;
	letter-spacing: .035em;
	color: #141414;
}

fieldset {
	border: none;
	padding: 35px;
	margin-bottom: 20px;
}

fieldset:first-of-type {
	border-bottom: solid black 1.35px;
}

legend {
	font-size: 1.777em;
	font-weight: 400;
}

input::placeholder {
	color: rgba(178, 34, 34, .3);
	text-align: right;
	font-family: 'Nunito Sans', sans-serif;
	font-style: italic;
	font-size: .9em;
}

input[placeholder*="Option"]::placeholder, textarea::placeholder {
	color: #C4CFD4;
	font-size: .8em;
}

textarea::placeholder {
	font-size: 1.725em;
	font-style: italic;
}

.form-wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;

}

input[type=text],
input[type=email],
input[type=tel],
select[id="state"]
{
	width: 90%;
	height: 3em;
	padding: 10px 0;
	margin: 10px;
	border-radius: 5px;
	flex-grow: 1;
	background: #efefef;
	-webkit-box-shadow: 00 0 3px 2px rgba(0, 0, 0, .2);
	box-shadow: 00 0 3px 2px rgba(0, 0, 0, .2);
	outline: none;
	font-size: 1em;
	color: rgba(16, 16, 16, .8);

}

	.form-wrap label {
		flex-basis: 20%;
	}
	.form-wrap input,
	.form-wrap select {
		flex-basis: 75%;
	}
	input[id="zip"] {
		max-width: 30%;
	}

input[type=text]:focus, 
input[type=email]:focus,
input[type=tel]:focus,
select[id="state"]:focus {
	background: rgba(249, 249, 249, 1.0);
	color: #141414;
	transition: 0.75s ease;
}

/*input[type="radio"]:checked {
	 box-shadow: 0 0 0 3px #141414;
	 border-radius: 80%;
}*/


	/*Newsletter section */

	.form-news {
		padding: 10px 0 ;
	}

	label[class="form-news"],label[for="other_interests"] {
		font-weight:400;
		margin: 5px 0; 
	}

	textarea {
		background: #efefef;
		outline-color: rgba(20, 20, 20, .1);
		transition: background 0.75s ease;
	}

	/*Sign up button*/
	.btn {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
	}

	button[type="submit"] {
		padding:20px 30px;
		font-size: 1.4em;
		-ms-align-self: center;
		align-self: center;
		background: #141414;
		color: #efefef;	
		border-radius: 20px;
		width: 300px;
		font-family: 'Barlow Condensed', sans-serif;
		font-weight: 400;
		letter-spacing: .1em;
		-webkit-box-shadow: 00 0 6px 2px rgba(0, 0, 0, .5);
		box-shadow: 00 0 6px 2px rgba(0, 0, 0, .5);
		outline: none;
	}

	button[type="submit"]:active {
		letter-spacing: 0;
	}

	/*footer*/

	footer {
		text-align: center;
		margin-top: 45px;
	}



	/*media quieries*/

	@media(min-width:768px) {

		form  {
			max-width: 800px;
		}
		section {
			width:80%;
			max-width: 1000px;
		}
		.form-wrap:not(:nth-child(9)){
			flex-direction: row;
			-ms-align-items: center;
			align-items: center;
			/*justify-content: space-between;*/

		}


		input[type=text],
		input[type=email],
		input[type=tel],
		select[id="state"]
		{
			max-width: 80%;
			height: 3em;
			padding: 10px 0;
			margin: 10px;
			border-radius: 5px;
			flex-grow: 1;
			background: #efefef;
		}

		input[id="zip"] {
			max-width: 30%;
		}

	}

























